#main {
  width: 800px;
  height: 450px;
  background-color: grey;
  margin: auto;
  position: relative;
}

.player {
  width: 100px;
  height: 100px;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right bottom;
}

.enemy {
  width: 25px;
  height: 25px;
  background-color: red;
  position: absolute;
}

.title {
  text-align: center;
  margin: 0;
}

.start-button {
  width: 50px;
  margin: auto;
}

.character-select {
  width: 100px;
  height: 100px;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
}